:root{
    --white: #f2f2f2;
    --darkWhite: #c5c5c5;
    --darkGray: rgb(36, 36, 36);
    --mainFont: 'Raleway', sans-serif;
    --blockFont: 'Staatliches', cursive;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--mainFont);
    font-weight: lighter;
}

body, html
{
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0.6)), url("./images/churchSmaller.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow{
    box-shadow: 0 0 10px gray;
    transition-property: all;
    transition-duration:.3s;
    transition-timing-function: linear;}

.shadow:hover{
    box-shadow: 0 0 40px gray;
    cursor: pointer;
}

#slideshow{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

#mapid {height: 300px; width: 85vw; z-index: 10;}

#overlay
{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0.6));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainFont
{
    font-family: var(--mainFont);
}

.blockFont
{
    font-family: var(--blockFont);
}

.white
{
    color: white;
}



.desktopNavigation
{
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--white);
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktopNavigation a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: black;
    font-size: 1.2rem;
}

.navBox{
    display: none;
    background: black;
}

.mobileNavigation
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--white);
    color: black;
}

a
{
    text-decoration: none;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--darkGray);
}


.slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#slideshow img{
    height: auto;
    width: 100vw;
}

.colFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rowFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullPage
{
    min-height: 100vh;
    width: 100vw;
}

#homePage
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
}


@media screen and (max-width: 1024px)
{
    .desktopNavigation a
    {
        display: none;
    }
    .desktopNavigation a:nth-of-type(1)
    {
        display: inherit;
    }
    .navBox{
        display: inherit;
    }
}

@media screen and (max-width: 768px)
{

}

@media screen and (max-width: 600px)
{

}

@media screen and (max-width: 450px)
{

}